.body{
  background-color: white;
}
.container{
  width: 900px !important;
  text-align: center;
  background-color: white;
  color: green;
  font-size: medium;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}