.body{
  background-color: white;
}
.container{
  width: 1000 !important;
  padding-bottom: 20px;
  text-align: center;
  background-color: white;
  color: black;
  font-size: 20px !important;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
*:focus {
  outline: none !important;
}

.fontit{
  font-size: 30px;
}